@font-face {
    font-family: myfont;
    src: url(montserrat.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myfont;
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;

}
.nav{
    height: 95px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 0 100px;
    position: fixed;
    z-index: 99;
}
.nav img{
    height: 67px;
}
.nav h4{
    font-weight: 300;
}
.nav h4:hover{
    color: black;
    cursor: pointer;
}
.curssor{
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
.curssor_blur{
    height: 400px;
    width: 400px;
    background-color: #96c11e61;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
.main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}
.page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}
.page1 h1{
    font-size: 110px;
    font-weight: 900;
    position: relative;
}
.page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    top: -5px;
    left: -6px;
    color: black;
    z-index: -1;
    -webkit-text-stroke: 0.01px #95C11E;
}
.page1 h2{
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
}
.page1 p{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.page2{
    height: 100vh;
    width: 100%;
    z-index: 10;
}
.scroller{
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    z-index: 10;
}
.scroller_in{
    display: inline-block;
    white-space: nowrap;
    margin-right: 10px;
    animation-name: scroll;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.scroller::-webkit-scrollbar{
    display: none;
}
@font-face {
    font-family: myfont1;
    src: url(Gilroy-Heavy.ttf);
}
.scroller h4{
    display: inline-block;
    font-family: myfont1;
    font-size: 100px;
    font-weight: 900;
    margin-right: 20px;
    transition: all linear 0.3s;
    -webkit-text-stroke: 1px white;
    color: black;
}
.scroller_in h4:hover{
    color: #95C11E;
    -webkit-text-stroke: 1px #95C11E;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }   
}
.about{
    background-color: transparent;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
    padding-left: 90px;
    padding-right: 90px;
    position: relative;
    z-index: 10;
}
.about img:nth-child(1){
    border-radius: 10px;
    height: 130px;
    width: 130px;
}
.about img:nth-child(3){
    border-radius: 10px;
    height: 180px;
    width: 125px;
}
.about_us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.about_us h3{
    font-size: 40px;
    font-weight: 200px;
    font-family: myfont1;
    line-height: 2;
}
.about_us p{
    font-size: 20px;
    line-height: 2;
}
.cards_container{
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    height: 90%;
    width: 24%;
    border-radius: 15px;
    z-index: 10;
    background-position: center;
    background-size: cover;
    background-color: blue;
    transition: all ease 0.6s;
}
.card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.card3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    border-radius: 15px;
    padding: 0px 30px 0px 30px; 
    overflow: hidden;
    opacity: 0;
    transition: all ease 0.6s;
}
.overlay_button{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    float: right;
    margin-right: -75px;
    margin-top: -55px;
    border: 2px solid black;
}
.arrow_button{
    clip-path: polygon(0 46%, 84% 47%, 49% 0, 100% 50%, 48% 100%, 82% 57%, 0 56%);
    background-color: black;
    height: 40px;
    width: 35px;
    margin-top: 35px;
    margin-left: -25px;
}
.overlay_button:hover{
    background-color: white;
    cursor: pointer;
}
.overlay_button:hover .arrow_button{
    background-color: #95C11E;
    cursor: pointer;
}
.overlay h4{
    color: black;
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 110px;
}
.overlay p{
    color: black;
    font-size: 16px;
}
.overlay p:nth-child(3){
    margin-bottom: 30px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(1,-1,0,20deg);
}
.signup_div{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom,#16A139, #ACE022 );
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    position: relative;
}
.signup_div img{
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    object-fit: cover;
    width: 10%;
}
.signup_div h4{
    width: 50%;
    text-align: center;
    line-height: 40px;
    font-weight: 500px;
    color: black;
    text-transform: uppercase;
    font-size: 25px;
}
.tilted_div_parent{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}
.tilted_div_child{
    height: 70%;
    width: 110%;
    margin-left: -10px;
    transform: skew(-3deg,-3deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 10;
}
.tilt_child{
    height: 95%;
    width: 15%;
    border-radius: 20px;
    transform: skew(5deg,3deg);
    background-color: black;
}
.tilt_child:nth-child(1){
    object-fit: cover;
    background-position: center;
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/435318823_258606790673865_2530423443188938293_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1);
}
.tilt_child:nth-child(2){
    object-fit: cover;
    background-position: center;
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/453518734_1037047134723040_8073951644951463776_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1);
}
.tilt_child:nth-child(3){
    object-fit: cover;
    background-position: center;
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/448523995_1030727008770120_6567554558293281910_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1);
}
.tilt_child:nth-child(4){
    object-fit: cover;
    background-position: center;
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/447929470_988634446296987_6093112883687622864_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1);
}
.tilt_child:nth-child(5){
    object-fit: cover;
    background-position: center;
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/447781550_991790659220634_5577119039868959224_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1);
}
.tilt_child:nth-child(6){
    object-fit: cover;
    background-position: center;
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/446099330_436478269139605_3616962284735382682_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1);
}
.tilt_child:nth-child(7){
    object-fit: cover;
    background-position: center;
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/sb-instagram-feed-images/448523995_1030727008770120_6567554558293281910_nlow.jpg?strip=all&lossy=1&sharp=1&w=1920&ssl=1);
}
.food_drink{
    width: 100%;
    height: 90vh;
    background-color: black;
    display: flex;
    position: relative;
   
}
.image_div{
    height: 100%;
    width: 50%;
    z-index: 10;
}
.image_child1{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.image_child1 img{
    height: 90%;
    width: 85%;
    border-radius: 20px;
}
.image_child2{
    height: 20%;
    width: 100%;
}
.image_child2 img{
    height: 40px;
    width: 90px;
    margin-left: 100px;
    margin-top: -18px;
    object-fit: cover;
}
.image_txt{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-top: 40px;
    font-size: 20px;
    line-height: 1.7;
    z-index: 10;
}

.image_txt p:nth-child(2){
    margin-bottom: 20px;
}
.food_btn{
    height: 45px;
    width: 175px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 2px solid #ACE022;
    transition: all ease 0.6s;
    margin-top: 70px;
}
.food_btn:hover{
    color: black;
    background-color: #ACE022;
    cursor: pointer;
}
.insta{
    width: 26%;
    height: 30px;
    display: flex;
    font-weight: 400;
    gap: 10px;
    align-items: center;
    margin-left: 900px;
    transform: skew(-3deg,-3deg);
    position: relative;
    z-index: 10;
}
.insta h3{
    color: white;
}
.insta:hover h3{
    color: #ACE022;
    cursor: pointer;
}



.footer{
    height: 60vh;
    width: 100%;
    background: linear-gradient(to left bottom,#16A139, #ACE022 );
    position: relative;
    z-index: 10;
}
.footer_details{
    height: 80%;
    width: 100%;
    background-color: transparent;
    display: flex;
}
.footer_logo{
    height: 100%;
    width: 17%;
    display: flex;
    flex-direction: column;
}
.footer_logo img:nth-child(1){
    height: 30%;
    margin-top: 70px;
    margin-left: 80px;
    margin-bottom: 50px;
}
.footer_logo img:nth-child(2){
    height: 10%;
    width: 12%;
    margin-left: 92px;
}
.footer_logo img:nth-child(3){
    margin-top: -26px;
    margin-left: 130px;
    height: 10%;
    width: 12%;
}
.footer_txt1{
    height: 100%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
    padding-left: 40px;
    font-size: 17px;
    text-transform: uppercase;

}
.footer_txt1 h2,h3{
    color: black;
    font-weight: bolder;
}
.footer_txt1 h4{
    color: black;
    font-weight: normal;
}
.footer_copyright{
    height: 20%;
    width: 100%;
    background-color: transparent;
    padding-left: 110px;
    display: flex;
    align-items: center;
    font-size: 13px;
}
.footer_copyright p{
    color: black;
}
.footer_copyright p:nth-child(1){
    margin-right: 150px;
}